.custom-nav-height {
  height: 80px;
}

.hero-container {
  height: 250px;
  background: linear-gradient(to right, #6748a9, #16b1fe);
  border: 1px solid transparent;
  border-radius: 15px;
}

@media (min-width: 768) {
  .hero-container {
    height: auto;
  }
}

.custom-text {
  font-size: 12px;
}

.input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

.input-group .input-group-text,
.input-group .form-control {
  background-color: white;
  border-color: #ced4da; /* Adjust to match your design */
}

.input-group .input-group-text {
  border-right: 0;
  border-radius: 0.375rem 0 0 0.375rem; /* Adjust border-radius if necessary */
}

.input-group .form-control {
  border-left: 0;
  border-radius: 0 0.375rem 0.375rem 0; /* Adjust border-radius if necessary */
}

.custom-catagories-container {
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
}

.custom-fw {
  font-weight: 500;
}

.custom-card {
  border: 1px solid transparent;
  border-radius: 10px;
  max-width: 100%;
  width: auto;
  overflow: hidden;
}

.ug-btn {
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 10px;
  background-color: #cec0de;
}

.lesson-box p {
  font-size: 12px;
}

.draft-btn {
  background-color: #d8d8d8;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 12px;
}

.custom-icon {
  filter: hue-rotate(220deg) brightness(90%) saturate(150%);
}
